body {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: sans-serif;
}

canvas {
    display: block;
    margin: 2px auto 0;
}

p {
    display: block;
    width: 600px;
    margin: 10px auto 0;
}
